html {
 background-color: #FFFFFF
}

body {
  background-color: #0033ff;
  text-align: center;
  padding: 64px;
  border-radius: 32px;
}

header {
  background: #55d6aa;
}

nav {
  float: right;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 12%
}

h1 {
  font-size: 128;
  color: #FFFFFF;
}

p {
  font-size: 64px;
  color: #FFFFFF;
  opacity: 1;
}

ul {
	color: #2898FF;
}

p {
  background-color: darkblue;
  border-radius: 15px;
}

/*Footer*/
footer {
	text-align: center;
}

.towerHover {
  opacity: 1;
  transition: opacity 0.3s;
}


.towerHover:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 5%;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
